#root {
  width: 100%;
  overflow: hidden;
}

*{
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal;
}
h1{
  font-family: "Orbitron", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}